# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
PrizePicksMonteApi/
venv/
env/
ENV/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Flask specific
instance/
.webassets-cache

# Logs
*.log
logs/